@import url('https://fonts.googleapis.com/css2?family=Konkhmer+Sleokchher&display=swap');

header {
  height: 275px;
  background-color: #9350DB;
  color: #242424;
  padding: 20px 40px;
  box-sizing: border-box;

  /* 1. Define o layout principal como coluna */
  display: flex;
  flex-direction: column;

  /* 2. Joga a "linha de cima" para o topo e a "linha de baixo" para o fundo */
  justify-content: space-between;
}

/* --- ESTILOS DA LINHA DE CIMA --- */
.header-top {
  display: flex;
  align-items: center; /* Alinha o logo e o texto verticalmente */
  gap: 20px; /* Espaço entre o logo e o texto */
}

.header-top .logo {
  height: 70px;
  width: 70px;
}

.header-top p {
  font-family: 'Konkhmer Sleokchher', system-ui, sans-serif;

  font-size: 2rem; /* Aumenta um pouco a fonte do título */
  margin: 0; /* Remove margem padrão do <p> */

  flex-grow: 1;
  text-align: center;
  margin-right: 68px;
  padding-top: 5px;
}

/* --- ESTILOS DA LINHA DE BAIXO (ÍCONES) --- */
.icon-container {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 100%; /* Faz o container ocupar a largura toda */
}

.icon-container img {
  height: 32px;
  width: 32px;
  transition: transform 0.3s ease-in-out, filter 0.3s ease-in-out;
  cursor: pointer;
}

.icon-container img:hover {
  transform: scale(1.20);

  filter: brightness(0) invert(1);
}

.icon-container a.active-link img {
  transform: scale(1.20);

  filter: brightness(0) invert(1);
}

/* remove o sublinhado padrão dos links */
a, a.logo-link {
  text-decoration: none;
  color: inherit;
}
