<header>
  <!-- 1. LINHA DE CIMA -->
  <div class="header-top">
    <a [routerLink]="['/visu-geral']" class="logo-link">
      <img src="/assets/images/logo-journey.png" alt="Logo" class="logo">
    </a>

    <p>{{ textoCabecalho }}</p>

  </div>

  <!-- 2. LINHA DE BAIXO (Ícones com links) -->
  <div class="icon-container">

    <!-- Link do Dashboard -->
    <a [routerLink]="['/visu-geral']" routerLinkActive="active-link" [routerLinkActiveOptions]="{exact: true}">
      <img src="/assets/images/dashboard-icon.png" alt="Dashboard">
    </a>

    <!-- Link do Usuário -->
    <a [routerLink]="['/conta']" routerLinkActive="active-link">
      <img src="/assets/images/user-icon.png" alt="Usuário">
    </a>

    <!-- Link do Relógio -->
    <a [routerLink]="['/historico-de-alteracoes']" routerLinkActive="active-link">
      <img src="/assets/images/clock-icon.png" alt="Relógio">
    </a>

  </div>
</header>
