<div class="page-container">

  <table class="history-table">

    <thead>
    <tr>
      <th>Ação</th>
      <th>Item</th>
      <th>Responsável</th>
      <th>Detalhes</th>
    </tr>
    </thead>

    <tbody>

      @if (isLoading) {
        <tr>
          <td colspan="4" class="loading-cell">Carregando histórico...</td>
        </tr>
      }

      @if (!isLoading && historicoAgrupado.length === 0) {
        <tr>
          <td colspan="4" class="loading-cell">Nenhum registro de alteração encontrado.</td>
        </tr>
      }

      @for (H of historicoAgrupado; track $index) {
        <tr>

          <td class="action-cell" [ngClass]="H.acaoClass">
            {{ H.acao }}
          </td>

          <td class="item-cell">
            {{ H.item }}
          </td>

          <td class="user-cell">
            {{ obterNomeUsuario(H.responsavel) }}
          </td>

          <td class="details-cell">

            @if (H.acao === 'Adicionado') {
              <p class="detail-header"><strong>Campos criados:</strong></p>
            }
            @if (H.acao === 'Editado') {
              <p class="detail-header"><strong>Campos alterados:</strong></p>
            }
            @if (H.acao === 'Excluído') {
              <p class="detail-header"><strong>Item Removido:</strong></p>
            }

            <div class="detail-list">
              @for (detalhe of H.detalhes; track $index) {
                <p>
                  - {{ detalhe }}
                </p>
              }
            </div>

            <p class="data-hora">
              <em>Data: {{ H.dataHora | date:'dd/MM/yyyy HH:mm:ss' }}</em>
            </p>
          </td>

        </tr>
      }

    </tbody>
  </table>

</div>
