:host {
  display: block;
  width: 100%;
}

.page-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 40px;
  padding-bottom: 100px;
  min-height: 100vh;
  position: relative;
}

.layout-wrapper {
  width: 90%;
  max-width: 800px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.cadastro-card {
  width: 100%;
  background-color: #9350DB;
  border: 2px solid #000;
  border-radius: 12px;
  padding: 40px 30px;
  box-sizing: border-box;
  color: white;
  font-family: sans-serif;
}

.banner-titulo {
  width: 100%;
  background-color: #E0C0FF;
  border: 2px solid #000;
  border-radius: 12px;
  padding: 15px;
  text-align: center;
  font-weight: bold;
  font-size: 22px;
  color: black;
  box-sizing: border-box;
}

.titulo-card {
  text-align: center;
  margin-top: 0;
  margin-bottom: 30px;
  font-size: 22px;
  font-weight: bold;
}

.lista-botoes {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.btn-opcao {
  width: 100%;
  padding: 15px;
  background-color: #E0C0FF;
  border: 2px solid #000;
  border-radius: 8px;
  color: black;
  font-weight: bold;
  font-size: 18px;
  cursor: pointer;
  transition: transform 0.1s;
}

.btn-opcao:hover {
  transform: scale(1.01);
  background-color: #dbbbf9;
}

.form-fields {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.input-group select,
.input-group input {
  width: 100%;
  height: 50px;
  padding: 0 15px;
  border-radius: 8px;
  border: 2px solid #000;
  background-color: #efe5fd;
  font-size: 16px;
  font-weight: bold;
  color: #333;
  outline: none;
  box-sizing: border-box;
}

.btn-salvar {
  margin-top: 10px;
  width: 100%;
  height: 55px;
  background-color: #C58AF9;
  border: 2px solid #000;
  border-radius: 8px;
  color: white;
  font-size: 20px;
  font-weight: bold;
  cursor: pointer;
}

/* CONTAINER DO BOTÃO VOLTAR */
.container-voltar {
  position: absolute;
  bottom: 40px;
  left: 40px;
  z-index: 10;
  /* Inline-block faz o container ter o tamanho exato do botão */
  display: inline-block;
}

/* A CAMADA INVISÍVEL */
.click-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: transparent; /* Invisível */
  cursor: pointer;
  z-index: 20; /* Garante que fica POR CIMA do botão */
}
