/* Em app.component.css */

:host {
  display: flex;
  flex-direction: column;
  /* A aplicação inteira tem NO MÍNIMO 100vh e PODE CRESCER */
  min-height: 100vh;
}

app-header {
  /* Impede que o header ("Sistema de gerenciamento...") encolha */
  flex-shrink: 0;
}

/* <app-visu-geral> (o componente da página) se comporta como um container flex.*/
app-visu-geral {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
}
