<nav class="sidebar-container">

  <ul class="sidebar-nav-list">

    <!-- IDs DE 1 A 5 CORRESPONDENDO AOS IDs DO ACCORDION -->

    <li class="nav-item" data-text="pecas" (click)="onIconClick(1)">
      <img src="/assets/images/roupas-icon.png" alt="pecas" class="nav-icon">
    </li>

    <li class="nav-item" data-text="estampas" (click)="onIconClick(2)">
      <img src="/assets/images/estampas-icon.png" alt="estampas" class="nav-icon">
    </li>

    <li class="nav-item" data-text="adesivos" (click)="onIconClick(3)">
      <img src="/assets/images/adesivo-icon.png" alt="adesivos" class="nav-icon">
    </li>

    <li class="nav-item" data-text="colecoes" (click)="onIconClick(4)">
      <img src="/assets/images/colecao-icon.png" alt="colecoes" class="nav-icon">
    </li>

    <li class="nav-item" data-text="chaveiros" (click)="onIconClick(5)">
      <img src="/assets/images/chaveiro-icon.png" alt="chaveiros" class="nav-icon">
    </li>

  </ul>

</nav>
