<nav class="sidebar-container">

  <ul class="sidebar-nav-list">

    <li class="nav-item" data-text="pecas">
      <img src="/assets/images/roupas-icon.png" alt="pecas" class="nav-icon">
    </li>

    <li class="nav-item" data-text="estampas">
      <img src="/assets/images/estampas-icon.png" alt="estampas" class="nav-icon">
    </li>

    <li class="nav-item" data-text="adesivos">
      <img src="/assets/images/adesivo-icon.png" alt="adesivos" class="nav-icon">
    </li>

    <li class="nav-item" data-text="colecoes">
      <img src="/assets/images/colecao-icon.png" alt="colecoes" class="nav-icon">
    </li>

    <li class="nav-item" data-text="chaveiros">
      <img src="/assets/images/chaveiro-icon.png" alt="chaveiros" class="nav-icon">
    </li>



  </ul>

</nav>
