/* Em visu-geral.css */

.page-container {
  display: flex; /* Direção 'row' (padrão) */
  gap: 30px;
  padding: 0;

  /* Faz este container crescer para preencher o <app-visu-geral> */
  flex-grow: 1;

  /* align-items: stretch (padrão) vai esticar a sidebar e o conteúdo */
}

.main-content {
  flex-grow: 1;
  padding: 20px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;

  /* MUDANÇA SUGERIDA:
     'center' fará a lista gigante ficar no meio da página.
     'flex-start' a mantém no topo, o que é mais natural.
  */
  align-items: center;
  justify-content: flex-start; /* <-- MUDADO DE 'center' PARA 'flex-start' */
}
